@use '../config/variables' as C;

.order_summery_card {
  border: 1px solid #f1f1f1;
  border-radius: 6px;
  .section_border_bottom {
    border-bottom: 1px solid #f1f1f1;
    padding-bottom: 5px;
  }
}
