@use '../config/variables' as C;
@use '../mixins/breakpoint' as *;

.offers {
  .show_case_item {
  }
  .show_case_item:not(:first-child) {
    padding: 26px 30px;
    border-radius: 8px;
    .content {
      max-width: 200px;
    }
    button {
      color: C.$white;
      overflow: hidden;
      &::before,
      &::after {
        content: '';
        position: absolute;
        background-color: C.$white;
        bottom: 0;
        right: 0;
        height: 1px;
        width: 100%;
      }
      &::before {
        left: 0;
        transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
      }
      &::after {
        left: -200%;
        transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
      }
    }
    &:hover {
      button {
        &::before {
          left: 200%;
        }
        &::after {
          left: 0%;
        }
      }
    }
  }
  .show_case_item:nth-child(1) {
    padding: 225px 54px;
    .content {
      max-width: 450px;
    }
  }

  //   media query start here
  @include breakpoint(lg) {
    .show_case_item:nth-child(1) {
      grid-column-start: span 3;
    }
  }
}
