@use '../mixins/breakpoint' as *;

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'DM Sans', sans-serif;
  overflow-x: hidden;
  position: relative;
}

ul {
  list-style-type: none;
}

a,
.a {
  text-decoration: none;
  text-transform: capitalize;
  cursor: pointer;
  font-size: 16px;
  line-height: 26px;
  font-weight: 600;
  color: inherit;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

button {
  font-family: 'DM Sans', sans-serif;
  text-transform: capitalize;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

button:active {
  opacity: 0.6;
}

input,
textarea {
  font-family: 'DM Sans', sans-serif;
  border: hidden;
  // transition: all 0.4s;
}

input:focus-visible,
textarea:focus-visible {
  outline-color: #3577f0;
}

.input_group {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.input_field {
  margin-top: 6px;
  padding: 8px 20px;
  font-size: 16px;
  line-height: 26px;
  width: 100%;
  border-radius: 6px;
}

p {
  font-size: 16px;
  line-height: 26px;
}

p::first-letter {
  text-transform: uppercase;
}

li {
  text-transform: capitalize;
}

h6,
h5,
h4,
h3,
h2,
h1 {
  text-transform: capitalize;
}
