/*----------------------------------------
    Variables
-----------------------------------------*/

// 1. Colors
$primary: #3577f0 !default;
$secondary: #7994af !default;
$white: #fff;
$black: #000;
$light_black: #292930;
$gray: #d6d6d6;
$deep_gray: #c4c4c4;
$gray_text: #777777;
$light_gray: #f7f7f7;
$pink: #ff497c;
$warning: #ef4444;
